{% extends "account/base.html" %}

{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm Email Address" %}{% endblock head_title %}


{% block content %}
<section class="bg-light section-header m-0 p-0">
    <div class="container">
      <div class="section-title">
        <h1 class="text-uppercase"><img class="jj-icon" alt="Jetset Journal Icon" src="{% static 'images/jj_logo.png' %}">Email Confirmation</h1>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2 class="text-center text-uppercase">{% trans "Confirm Email Address" %}</h2>

            <p class="mt-4 text-center text-muted mb-0">{% blocktrans %}Welcome to the Jetset Journal blog.{% endblocktrans %}</p>
            <p class="text-center text-muted">{% blocktrans %}Thanks for registering.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row mb-4 email-confirm">
        <div class="col-md-8 mt-3 offset-md-2 text-center">
            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            {% if can_confirm %}
            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button class="btn btn-signup btn-lg" type="submit">{% trans 'Confirm' %}</button>
            </form>
            {% else %}
            <p>{% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}</p>
            {% endif %}

            {% else %}

            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}</p>

            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
