/* import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #F9FAFC;
    font-family: 'Krub', 'Lato', sans-serif;
}

.hero-div {
  background: url('/static/images/jj-hero-image-new.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  color: #555;
  font-family: 'Lato';
}

#hero-content {
  margin-top: 10%;
}

#inner-hero {
  background-color: hsla(0, 2%, 35%, 0.692);
  padding: 20px;
  font-weight: 700;
}

/* headings and logo */
h1,
h2,
h3 {
    font-family: 'Chivo', 'Lato', sans-serif;
}

.btn {
  font-family: 'Chivo', 'Lato', sans-serif;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    bottom: 5%;
    min-width: 30%;
    max-width: 60%;
    left: -2px;
    background-color: #3ea091;
    color: white;
    padding-left: 5%;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
    min-height: 330px;
}

.masthead-text {
    background-color: #318b7e;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #318b7e;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

@media screen and (max-width: 768px) {

  /* Show blog image as block content on mobile */
 .mobile-image {
    display: none !important;
    overflow: hidden;
 }

 .hero-div .row {
  margin: 0;
 }

}

@media screen and (max-width: 767px) {

  /* Show blog image as block content on mobile */
  .masthead {
    height: 64vh;
  }

 .mobile-image {
    display: block !important;
 }

}

@media screen and (max-width: 991px) {
  .blog-images {
    display: block !important;
    margin: auto;
   }
}

@media screen and (max-width: 991px) {

  /* Show blog image as block content on mobile */
 .masthead-image .scale {
    height: 100% !important;
 }

}

.post-link {
    text-decoration: none;
    color: #445261;
}

#postSubTitle {
  color: #f4f4f4;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #318b7e;
}

.btn-cancel1 {
    background-color: #fc4a1a;
    color: #fff;
}

.btn-cancel1:hover {
  background-color: #fff;
  color: #fc4a1a;
}

.link {
    color: #318b7e;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

#login img{
    margin: 10px 0;
  }
  #login .center {
    text-align: center;
  }
  
  #login .login {
    max-width: 300px;
    margin: 35px auto;
  }
  
  #login .login-form{
    padding:0px 25px;
  }

/*-------------------------------------------------------------
# Sections 
-------------------------------------------------------------*/
section {
    padding: 45px 0 10px 0;
  }
  
  .section-bg {
    background-color: #f7fbfe;
  }
  
  .section-title {
    text-align: center;
  }
  
  .section-title h1 {
    font-size: 65px;
    font-weight: 600;
    padding-bottom: 20px;
    position: relative;
    color: #E84610;
  }
  
  .section-title h2 {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 20px;
    position: relative;
  }
  
  .jj-icon {
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
    margin-right: 5px;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  .section-header {
    margin-top: 75px;
    margin-bottom: 5px;
  }
  
  @media (max-width: 768px) {
    .section-title h1 {
      font-size: 45px;
      font-weight: 600;
      padding-bottom: 20px;
      position: relative;
      color: #E84610;
    }
  
    .jj-icon {
      width: 60px;
      height: 60px;
      margin-bottom: 20px;
      margin-right: 5px;
    }
  }
  
  @media (max-width: 400px) {
    .section-title h1 {
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 20px;
      position: relative;
      color: #E84610;
    }
  
    .jj-icon {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
      margin-right: 5px;
    }
  }

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

#heroDiv {
  background-color: #4ABDAC;
}

#djangoMsgs {
  background-color: #4ABDAC;
}

.section-foot {
  background-color: #4ABDAC;
}

.comment-div {
  background-color: white;
  border-radius: 5%;
}

#logged-in-as {
  background-color: #3ea091;
  color:white;
  display:inline;
  border-radius: 2%;
}

#welcome-head {
  background-color: #F7B733;
  color:white;
  border-radius: 10%;
  width: 50%;
  margin: auto;
}

#learnMoreBtn {
  border: 2px solid #F7B733;
}

a #learnMoreBtn {
  text-decoration: none;
  color: #F7B733;
}

/*-------------------------------------------------------------
# My Profile 
-------------------------------------------------------------*/

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

.profile-image img{
  width: 100%;
}

.admin-button {
  text-decoration: none;
  background-color: #F7B733;
}

.admin-button:hover {
  text-decoration: none;
  background-color: #b07e1a;
  cursor: pointer;
}

.btn-like-wish {
  border: 2px solid #9e2020 !important;
}

.btn-like-wish:hover,
.btn-like-wish:active,
.btn-like-wish:focus {
  box-shadow: 0 8px 16px 0 rgba(158,32,32,0.2), 0 6px 20px 0 rgba(158,32,32,0.19);
}

.btn-wish {
  background: #9e2020;
  color: white;
  border: 2px solid white !important;
}

.btn-wish:hover,
.btn-wish:active,
.btn-wish:focus {
  background: white;
  color: #9e2020 !important;
  border: 2px solid #9e2020 !important;
}