{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- HEADER - hero section - CreditL https://bootstrapbrain.com/component/bootstrap-5-hero-image-section-example/#preview
<div id="heroDiv">
    <section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull">
        <div class="container">
            <div class="row justify-content-md-left">
                <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
                <h1 id="welcome-head" class="display-3 fw-bold mb-3">Welcome</h1>
                <p class="lead mt-3 mb-5">Join the adventure and elevate your wanderlust with Jetset Journal – where every journey begins with a spark of wander and ends with a story worth sharing!</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'about' %}"><button type="button" class="btn bsb-btn-3xl btn-outline-light" id="learnMoreBtn">Learn More</button></a>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>-->

<div class="hero-div container-fluid">
    <div class="row">
        <div class="row justify-content-md-left">
            <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
                <h1 id="welcome-head" class="display-3 fw-bold mb-3">Welcome</h1>
                <p class="lead mt-3 mb-5">Join the adventure and elevate your wanderlust with Jetset Journal – where every journey begins with a spark of wander and ends with a story worth sharing!</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'about' %}"><button type="button" class="btn bsb-btn-3xl btn-outline-light" id="learnMoreBtn">Learn More</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- index.html content starts here -->
<div class="mt-5 mb-5">
<h2 class="text-center text-uppercase mt-3">
    Latest Posts
</h2>
</div>
<main class="container">
    <!-- Blog Entries Column -->
    <div class="row mb-2">
        {% for post in post_list %}
        <!-- left aligned post thumbnail -->
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">Destination: <span class="text-uppercase">{{ post.destination }}</span></strong>
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h3 class="card-title mb-3">{{ post.title }}</h3>
                        <p class="card-text  mb-auto">{{ post.excerpt }}</p>
                    </a>
                    <div class="image-flash author mb-1 mt-2">Author: {{ post.author }}</div>
                    <hr>
                    <div class="mb-1 text-body-secondary">{{ post.created_on}}</div>
                </div>
                <div class="col-auto d-none d-lg-block blog-images">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="blog-placeholder-img" style="object-fit: cover;" width="200" height="250" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                    {% else %}
                    <img class="blog-placeholder-img" style="object-fit: cover;" width="200" height="250" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row mb-2">
        {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</main>

<!-- index.html content ends here -->
{% endblock %}