{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="bg-light section-header">
    <div class="container">
      <div class="section-title">
        <h1 class="text-uppercase"><img class="jj-icon" alt="Jetset Journal Icon" src="{% static 'images/jj_logo.png' %}">My Profile</h1>
      </div>
    </div>
  </section>

<div id="my-profile-container" class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <p>User: {{ user }}</p>
          <p>User: {{ user.email }}</p>
          <p>User: {{ user.user_profile.bio }}</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-8 mt-3 offset-md-2 text-center">
        </div>
    </div>
</div>
{% endblock %}