{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle" id="postSubTitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
              {% if "placeholder" in post.featured_image.url %}
              <img class="scale" width="200" height="250" src="{% static 'images/default.jpg' %}" alt="placeholder image">
              {% else %}
              <img class="scale" width="200" height="250" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
              {% endif %}
            </div>
        </div>
        <!-- for mobile -->
        <div class="d-none hidden mobile-image">
          {% if "placeholder" in post.featured_image.url %}
          <img class="scale" width="200" height="250" src="{% static 'images/default.jpg' %}" alt="placeholder image">
          {% else %}
          <img class="scale" width="200" height="250" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
          {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
          <strong class="text-primary-emphasis">Destination: <span class="text-uppercase">{{ post.destination }}</span></strong>
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>
    <!-- Add to Favourites/Wishlist -->
    <div class="row mb-4">
      {% if user.is_authenticated %}
          <form class="d-inline like-form" action="{% url 'user_wishlist' post.slug %}" method="POST" data-product-id="{{ post.slug }}">
              {% csrf_token %}
                  {% if request.user in post.users_wishlist.all %}
                  <button type="submit" name="like" value="{{ blog_wish.post.slug }}" class="btn btn-like-wish mt-2" data-like-action="unlike">
                      <i class="fas fa-heart fa-sm" style="color: #cc2b5e;"></i><span class="ml-1 like-text"> Remove from Favourites</span>
                  </button>
                  {% else %}
                  <button type="submit" name="like" value="{{ blog_wish.post.slug }}" class="btn btn-like-wish mt-2" data-like-action="like">
                      <i class="far fa-heart fa-sm" style="color: #000;"></i><span class="ml-1 like-text"> Add to Favourites</span>
                  </button>
                  {% endif %}
          </form>
      {% else %}
          <a href="{% url 'account_login' %}" class="btn btn-like-wish mt-2">
              <i class="far fa-heart fa-sm" style="color: #000;"></i><span class="ml-1 like-text">Add to Favourites</span>
          </a>
      {% endif %}
    </div>
     <!-- Displaying count of likes -->
  <div class="row">
    <div class="col-1">
      <strong>
        {% if user.is_authenticated %}
        <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
            {% csrf_token %}
            {% if user in post.likes.all %}
              <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
            {% else %}
              <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
            {% endif %}
        </form>
        {% else %}
        <span class="text-secondary"><i class="far fa-heart"></i></span>
        {% endif %}
      <!-- The number of likes goes before the closing strong tag -->
        <span class="text-secondary">{{ post.number_of_likes }} </span>
      </strong>
    </div>
    <!-- Displaying count of comments -->
    <div class="col-1">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Blog Admin - edit/delete a post -->
  {% if request.user.is_superuser %}
  <div class="row">
    <div class="col-md-8 mb-4 mt-3">
      <h3>Admin Tools:</h3>
        <a href="{% url 'edit_blog_post' post.slug %}" class="btn-info btn-lg text-decoration-none mb-4">Edit Post</a>
        <a href="{% url 'delete_blog_post' post.slug %}" 
        class="btn-danger btn-delete-1 btn-lg text-decoration-none" id="deletePostBtn">Delete Post</a>
    </div>
  </div>
  <div class="col-12">
    <hr>
  </div>
  {% endif %}
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments comment-div mb-3
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold text-muted">
            {{ comment.author }}
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="approval">
            This comment is awaiting approval
          </p>
          {% endif %}
          <!-- Display Edit/Delete buttons (if user is signed in & comment author) -->
          {% if user.is_authenticated and comment.author == user %}
          <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
          <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Leave a comment:</h3>
          <p>Posting as: {{ user.username }}</p>
          <form id="commentForm" method="post"
            style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
              class="btn btn-signup btn-lg">Submit</button>
          </form>
          {% else %}
          <p>Log in to leave a comment</p>
          {% endif %}
        </div>
      </div>
  </div>
</div>

<!-- Delete confirmation modal - Comment -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal - Blog Post (Admin) -->
<div class="modal fade" id="deleteModalAdmin" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete blog post?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your blog post?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirmAdmin" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>

<script>
  ('#deletePostBtn').addEventListener("click", (e) => {
    e.stopImmediatePropagation();
    e.preventDefault();
  });
</script>
{% endblock %}