{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="bg-light section-header">
  <div class="container">
    <div class="section-title">
      <h1 class="text-uppercase"><img class="jj-icon" alt="Jetset Journal Icon" src="{% static 'images/jj_logo.png' %}">About</h1>
    </div>
  </div>
</section>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 col-sm-12 text-center">
      {% if "placeholder" in about.profile_image.url %}
      <img src="{% static 'images/nobody.jpg' %}" width="75%" alt="placeholder image" >
      {% else %}
      <img src="{{ about.profile_image.url }}" width="75%" alt="{{ about.title }}">
      {% endif %}
    </div>
    <div class="col-md-8 col-sm-12">
      <!-- Title goes between these h2 tags -->
      <h2>{{ about.title }}</h2>
      <!-- Content goes directly underneath this -->
      {{ about.content | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}