/*--------------------------------------------------------------
# Admin Area
--------------------------------------------------------------*/
#header {
    height: 75px;
    background: #fb8500;
    color: white;
}

#branding h1 {
    color: white;
}

div.breadcrumbs {
    background-color: #f7fbfe;
    color: #fb8500;
}

div.breadcrumbs a {
    color: #333;
}

.module caption {
    background: #fb8500;
    color: white;
}

.button.default,
input[type=submit].default,
.submit-row input.default {
    background: #fb8500;
    color: white;
}

#changelist-filter h2 {
    background: #fb8500;
    color: white;
}

#nav-sidebar .current-model {
    background: #feb766;
}